@*@Model Website.Models.Product*@

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <div class="div-block"></div>

<div class="add_remove" >
    <a href="#" class="button_remove w-button" id="RemoveP">x</a>
    <a href="#" class="button_add w-button" id="AddP">+</a>
</div>
<div class="container">
    <div class="row">
    
        <div id="myCarousel" class="carousel"  data-ride="carousel" data-interval="false" data-wrap="false">



            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" margin="auto">


                @{ int i = 0;
                    foreach (var item in Model)
                    {
                        if (i != 0)
                        {<div class="item" style="align-content:center" width="100%">
                            <a href="@item.DetailPageURL" target="_blank"> <img src="@item.LargeImage" alt="Product" style="align-content:center"></a>
                          </div>}
                        if (i == 0)
                        {<div class="item active" style="align-content:center" width="100%">
                            <a href="@item.DetailPageURL" target="_blank">
                            <img src="@item.LargeImage" alt="Product" style="align-content:center">
                            </a>
                           </div>
                         i++;
                        }

                    }}

            </div>
             
    </div>
        
      
    </div>
    <div class="row">
    
    </div>
</div>
 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<script src="~/buymaybe/js/buymaybe.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    var model = @Html.Raw(Json.Encode(Model));
    
    
    $('#AddP').click(function (e) {
        e.preventDefault();
         var index = $('#myCarousel div.active').index();
         var rec = model[index].Id;
          
         $.ajax({
            cache:"false",
            type: "POST",
           // headers: headers,
            url: '/WishLists/Create1/' + rec, //@Url.Action("Create1", "WishLists")
            
            

            success: function (response) {
                //alert("Product Added...");
            },
            failure: function (response) {
                //alert("Unable to Add Product..");
            },
            error: function (response) {
                //alert("Error");
            }

         });
        $('#AddP').disabled = false;
        $("#myCarousel").carousel("next");
    });
  $('#RemoveP').click(function (e) {
        e.preventDefault();
        var index = $('#myCarousel div.active').index();
       
        var rec = model[index].Id;
         

        $.ajax({
            cache:"false",
            type: "POST",
            //headers: headers,
            url: '/ScrapList/Create/'+rec, //@Url.Action("Create", "ScrapLists")
             
            success: function (response) {
                //alert("Product Added...");
            },
            failure: function (response) {
                //alert("Unable to Add Product..");
            },
            error: function (response) {
                //alert("Error");
            }

        });
        $('#RemoveP').disabled = false;

        $("#myCarousel").carousel("next");
    });
</script>
}

