@model Website.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
}
<div class="text-block-2">Sign Up Now! </div>
<div id="sign_up_box">
    <div class="form-block w-form">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "wf-form-Email-Form", @name = "wf-form-Email-Form", @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Name, new { @class = "field-label-2" })
            @Html.TextBoxFor(m=>m.Name, new { @class = "text-field-3 w-input", @maxlength = "256", @name = "Name", @placeholder = "Enter your Name", @required = "" })

            @Html.LabelFor(m => m.Email, new { @class = "field-label-3" })

            @Html.TextBoxFor(m => m.Email, new { @class = "text-field-3 w-input", @maxlength = "256", @name = "Email", @placeholder = "Enter your email address", @required = "" })


            @Html.LabelFor(m => m.Password, new { @class = "field-label-4" })

            @Html.PasswordFor(m => m.Password, new { @class = "text-field-4 w-input", @maxlength = "256", @name = "Password", @placeholder = "Choose a password", @required = "" })



            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "field-label-5" })

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-field-5 w-input", @maxlength = "256", @name = "Verify-Password", @placeholder = "Re-enter your password", @required = "" })

            @Html.Label("Select Category", new { @class = "field-label-6" })

            <span>@Html.RadioButtonFor(m => m.Category, 1, new { @checked = "checked" }) Appliances </span><br />
            <span>@Html.RadioButtonFor(m => m.Category, 2) Arts, Crafts & Sewing</span><br />
            <span>@Html.RadioButtonFor(m => m.Category, 3) Automotive</span><br />
            <span>@Html.RadioButtonFor(m => m.Category, 4) Baby</span><br />
            <span>@Html.RadioButtonFor(m => m.Category, 5) Beauty</span><br />
            <span>@Html.RadioButtonFor(m => m.Category, 6) Books</span> <br />
            <span>@Html.RadioButtonFor(m => m.Category, 7) Clothing, Shoes & Jewelry</span> <br />
            <span>@Html.RadioButtonFor(m => m.Category, 8) Electronics </span> <br />
            <span>@Html.RadioButtonFor(m => m.Category, 9) Health & Personal Care </span> <br />
            <span>@Html.RadioButtonFor(m => m.Category, 10) Toys & Games </span> <br />


            <input type="submit" value="Sign Up" class="submit-button w-button" />

        }
        <div class="success-message w-form-done">
            <div class="text-block">WELCOME!</div>
        </div>
        <div class="error-message w-form-fail">
            <div>Oops! Something went wrong. Please try again.</div>
        </div>
    </div>
</div>
<div class="div-block-2 w-clearfix">
    <div class="text-block-3">Already have an account?</div>
    @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "link _1" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}