@model Website.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="div-block"></div>

<div class="form-block w-form">
    


        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post,  new { @class = "form", role = "form" , id= "wf-form-Email-Form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Change Password</h3>

            @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.LabelFor(m => m.OldPassword, new { @class = "field-label-2" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-field---email w-input" })
                @Html.LabelFor(m => m.NewPassword, new { @class = "field-label-3" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-field---email w-input" })
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "field-label-3" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-field---password-1 w-input" })
                    <input type="submit" value="Save" class="submit-button w-button" />
            
        }

 </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
